.coreactivity-grid-events tr.__is-not-loaded {
  background: #FFDEDE;
}
.coreactivity-grid-events tr th.column-event_id {
  width: 80px;
}
.coreactivity-grid-events tr th.column-category {
  width: 120px;
}
.coreactivity-grid-events tr th.column-logs {
  width: 100px;
}
.coreactivity-grid-events tr th.column-status {
  width: 70px;
}
.coreactivity-grid-events tr th.column-component, .coreactivity-grid-events tr th.column-event {
  width: 17%;
}
.coreactivity-grid-events tr th.column-loaded {
  width: 160px;
}
.coreactivity-grid-events tr td.column-status button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  vertical-align: top;
  cursor: pointer;
}
.coreactivity-grid-events tr td.column-status button i {
  vertical-align: top;
  font-size: 1.9em;
}
.coreactivity-grid-events tr td.column-status button i.d4p-ui-toggle-on {
  color: green;
}
.coreactivity-grid-events tr td.column-status button i.d4p-ui-toggle-off {
  color: red;
}

.coreactivity-grid-logs.striped tbody tr:nth-child(4n+1),
.coreactivity-grid-logs.striped tbody tr:nth-child(4n+2) {
  background-color: #F2F2F2;
}
.coreactivity-grid-logs.striped tbody tr:nth-child(4n),
.coreactivity-grid-logs.striped tbody tr:nth-child(4n-1) {
  background-color: #FFF;
}
.coreactivity-grid-logs tr th.column-blog_id, .coreactivity-grid-logs tr th.column-log_id {
  width: 80px;
}
.coreactivity-grid-logs tr th.column-meta {
  width: 48px;
  text-align: center;
  cursor: pointer;
}
.coreactivity-grid-logs tr th.column-method, .coreactivity-grid-logs tr th.column-context, .coreactivity-grid-logs tr th.column-protocol {
  width: 100px;
}
.coreactivity-grid-logs tr th.column-user_id, .coreactivity-grid-logs tr th.column-component, .coreactivity-grid-logs tr th.column-event, .coreactivity-grid-logs tr th.column-ip {
  width: 240px;
}
.coreactivity-grid-logs tr th.column-object_type, .coreactivity-grid-logs tr th.column-logged {
  width: 120px;
}
.coreactivity-grid-logs tr td.column-ip img {
  margin: 0 5px 0 0;
  width: 28px;
}
.coreactivity-grid-logs tr td.column-request {
  word-break: break-all;
}
.coreactivity-grid-logs tr td.column-user_id i {
  color: #AAA;
}
.coreactivity-grid-logs tr td.column-meta {
  text-align: center;
  vertical-align: middle;
}
.coreactivity-grid-logs tr td.column-meta button {
  background: none;
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
}
.coreactivity-grid-logs tr.coreactivity-hidden-row.__hidden {
  display: none;
}
.coreactivity-grid-logs tr.coreactivity-hidden-row td {
  padding-top: 0;
}
.coreactivity-grid-logs tr.coreactivity-hidden-row td > div {
  padding: 0.5em 0 0;
  border-top: 1px dashed #DDD;
  display: flex;
  gap: 1em;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.coreactivity-grid-logs tr.coreactivity-hidden-row td > div > ul {
  margin: 0;
  list-style: none;
  flex: 0 0 calc(50% - 8px);
}
.coreactivity-grid-logs tr.coreactivity-hidden-row td > div > ul li {
  word-break: break-all;
  display: flex;
}
.coreactivity-grid-logs tr.coreactivity-hidden-row td > div > ul li strong {
  min-width: 150px;
}

.coreactivity-field-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.coreactivity-field-wrapper i {
  font-size: 1.3em;
}
.coreactivity-field-wrapper span {
  flex-grow: 1;
  word-break: break-all;
}

.d4p-wrap.d4p-plugin-coreactivity.d4p-panel-logs ul.subsubsub {
  display: inline-flex;
  gap: 1em;
  align-items: center;
}
.d4p-wrap.d4p-plugin-coreactivity.d4p-panel-logs ul.subsubsub .view {
  font-weight: bold;
  display: flex;
  gap: 1em;
}
.d4p-wrap.d4p-plugin-coreactivity.d4p-panel-logs ul.subsubsub .view.ip img {
  width: 23px;
  height: auto;
  vertical-align: bottom;
}
.d4p-wrap.d4p-plugin-coreactivity.d4p-panel-logs ul.subsubsub .view.user img {
  width: 18px;
  height: auto;
  vertical-align: bottom;
}

.subsubsub .coreactivity-view-button {
  padding: 2px 8px;
  border-radius: var(--d4p-layout-main-border-radius);
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.subsubsub .coreactivity-view-button i {
  font-size: 1.2em;
  line-height: inherit;
}
.subsubsub span.coreactivity-view-button {
  font-weight: normal;
  line-height: 2;
  border: 1px solid var(--d4p-color-main-border);
  background-color: var(--d4p-color-main-background);
}
.subsubsub span.coreactivity-view-button i {
  color: var(--d4p-color-layout-accent);
}
.subsubsub span.coreactivity-view-button span:first-of-type {
  font-weight: bold;
  color: var(--d4p-color-layout-accent);
}
.subsubsub a.coreactivity-view-button {
  background: var(--d4p-color-layout-accent);
  color: var(--d4p-color-main-background);
}
.subsubsub a.coreactivity-view-button i {
  vertical-align: top;
}

.coreactivity-grid-logs.striped tbody tr {
  transition: background-color 2000ms linear;
}
.coreactivity-grid-logs.striped tbody tr.coreactivity-old-live-row {
  background-color: #DEDEDE !important;
}
.coreactivity-grid-logs.striped tbody tr.coreactivity-live-row.coreactivity-standout {
  background-color: lightblue !important;
}

.coreactivity-badge {
  padding: 2px 12px 5px;
  font-size: 1.1em;
  color: #FFF;
  border-radius: 4px;
}
.coreactivity-badge i {
  color: #FFF !important;
  margin-right: 5px;
  vertical-align: top;
  margin-top: 8px;
}
.coreactivity-badge.__badge-green {
  background-color: #090;
}
.coreactivity-badge.__badge-red {
  background-color: #900;
}

.coreactivity-activation-control,
.coreactivity-database-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.coreactivity-activation-control i,
.coreactivity-database-wrapper i {
  flex-shrink: 0;
  color: var(--d4p-color-layout-accent);
}
.coreactivity-activation-control > div,
.coreactivity-database-wrapper > div {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1.1em;
  align-content: flex-start;
}
.coreactivity-activation-control > div .__element strong,
.coreactivity-database-wrapper > div .__element strong {
  color: var(--d4p-color-layout-accent);
  font-size: 1.3em;
}
.coreactivity-activation-control > div .__element.__full-width,
.coreactivity-database-wrapper > div .__element.__full-width {
  flex: 1 1 100%;
}
@media screen and (max-width: 959px) {
  .coreactivity-activation-control > div,
  .coreactivity-database-wrapper > div {
    font-size: 1em;
  }
}
@media screen and (max-width: 767px) {
  .coreactivity-activation-control > div,
  .coreactivity-database-wrapper > div {
    font-size: 0.9em;
  }
}

.coreactivity-activation-control .__full-width {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.coreactivity-overall-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.coreactivity-overall-wrapper > div {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.coreactivity-overall-wrapper > div h4 {
  color: var(--d4p-color-layout-accent);
  margin: 0 0 5px !important;
  font-size: 1.3em !important;
}
.coreactivity-overall-wrapper > div i {
  color: var(--d4p-color-layout-accent);
}
.coreactivity-overall-wrapper > div div {
  flex-shrink: 0;
}
.coreactivity-overall-wrapper > div .__available {
  font-size: 1.4em;
}
@media screen and (max-width: 959px) {
  .coreactivity-overall-wrapper {
    flex-direction: column;
  }
}

.coreactivity-overall-sep {
  margin: 1.25em 0 !important;
  border-top: 2px solid var(--d4p-color-layout-accent) !important;
}

.coreactivity-overall-components {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.coreactivity-overall-components .coreactivity-component {
  display: flex;
  gap: 0.5em;
}
.coreactivity-overall-components .coreactivity-component .__label {
  padding: 5px 10px;
  line-height: 24px;
  height: 35px;
  color: #FFF;
  background: var(--d4p-color-layout-accent);
}
.coreactivity-overall-components .coreactivity-component .__label a {
  display: block;
  vertical-align: top;
}
.coreactivity-overall-components .coreactivity-component .__label a i {
  display: inline-block;
  color: #FFF;
  vertical-align: top;
}
.coreactivity-overall-components .coreactivity-component .__bar {
  flex-grow: 1;
  background: #F4F4F4;
  position: relative;
  overflow: hidden;
}
.coreactivity-overall-components .coreactivity-component .__bar .__component {
  position: absolute;
  line-height: 35px;
  padding: 0 10px;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.coreactivity-overall-components .coreactivity-component .__bar .__inner {
  height: 100%;
  background: #DDD;
}
.coreactivity-overall-components .coreactivity-component .__count {
  width: 8%;
  min-width: 120px;
  background: #DDD;
  text-align: right;
  font-weight: bold;
  padding: 5px 10px;
}
@media screen and (max-width: 767px) {
  .coreactivity-overall-components .coreactivity-component .__label {
    min-width: 32px;
    text-align: center;
  }
  .coreactivity-overall-components .coreactivity-component .__label i {
    margin-right: 0;
  }
  .coreactivity-overall-components .coreactivity-component .__label span {
    display: none;
  }
  .coreactivity-overall-components .coreactivity-component .__count {
    min-width: 80px;
  }
}
@media screen and (max-width: 480px) {
  .coreactivity-overall-components .coreactivity-component .__bar .__component span {
    display: none;
  }
}

.coreactivity-about-counters {
  font-size: 1.4em;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--d4p-color-layout-accent);
  margin: 1em 0 0;
  padding: 1em 0 0;
  font-weight: 100;
}
.coreactivity-about-counters i {
  font-size: 1.4em;
  color: var(--d4p-color-layout-accent);
}
.coreactivity-about-counters strong {
  font-size: 1.4em;
  font-weight: 900;
  color: var(--d4p-color-layout-accent);
}

@media screen and (min-width: 768px) {
  .d4p-setting-checkboxes-grouped .d4p-inside-wrapper {
    column-count: 2;
    column-gap: 3em;
    column-rule: 1px solid #DDD;
  }
}

.coreactivity-about-components {
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .coreactivity-about-components {
    column-count: 2;
    column-gap: 3em;
    column-rule: 1px solid #DDD;
  }
}
.coreactivity-about-components h3 {
  font-size: 1.5em;
  background-color: #DDD;
  border-bottom: 3px solid var(--d4p-color-layout-accent);
  padding: 0 10px;
}
.coreactivity-about-components h3:first-child {
  margin-top: 0;
}
.coreactivity-about-components h4 {
  font-size: 1.2em;
  padding: 0 0 5px;
  border-bottom: 1px solid var(--d4p-color-layout-accent);
}
.coreactivity-about-components ul {
  list-style: disc outside;
  margin-left: 1.5em;
}
.coreactivity-about-components ul li {
  padding: 0;
}
