.coreactivity-grid-events tr.__is-not-loaded {
  background: #FFDEDE;
}
.coreactivity-grid-events tr th.column-event_id {
  width: 80px;
}
.coreactivity-grid-events tr th.column-status {
  width: 70px;
}
.coreactivity-grid-events tr th.column-component, .coreactivity-grid-events tr th.column-event {
  width: 15%;
}
.coreactivity-grid-events tr th.column-loaded {
  width: 160px;
}
.coreactivity-grid-events tr td.column-status button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  vertical-align: top;
  cursor: pointer;
}
.coreactivity-grid-events tr td.column-status button i {
  vertical-align: top;
  font-size: 1.9em;
}
.coreactivity-grid-events tr td.column-status button i.d4p-ui-toggle-on {
  color: green;
}
.coreactivity-grid-events tr td.column-status button i.d4p-ui-toggle-off {
  color: red;
}

.coreactivity-grid-logs tr th.column-blog_id, .coreactivity-grid-logs tr th.column-log_id {
  width: 80px;
}
.coreactivity-grid-logs tr th.column-method, .coreactivity-grid-logs tr th.column-context, .coreactivity-grid-logs tr th.column-protocol {
  width: 100px;
}
.coreactivity-grid-logs tr th.column-ip {
  width: 160px;
}
.coreactivity-grid-logs tr th.column-logged {
  width: 120px;
}
