.coreactivity-user-status {
  display: inline-flex;
  align-items: center;
  column-gap: 2px;
}
.coreactivity-user-status .dashicons {
  font-size: 18px;
  height: 16px;
  vertical-align: middle;
}
.coreactivity-user-status.__is-online {
  color: green;
}

.wp-list-table.users thead .column-coreactivity_online {
  width: 80px;
}
.wp-list-table.users thead .column-coreactivity_activity,
.wp-list-table.users thead .column-coreactivity_login {
  width: 120px;
}

.coreactivity-ip {
  font-family: monospace;
}
