.coreactivity-grid-logs.striped {
    tbody {
        tr {
            transition: background-color 2000ms linear;

            &.coreactivity-old-live-row {
                background-color: #DEDEDE !important;
            }

            &.coreactivity-live-row {
                &.coreactivity-standout {
                    background-color: lightblue !important;
                }
            }
        }
    }
}
