.coreactivity-grid-logs {
    tr {
        th {
            &.column-blog_id,
            &.column-log_id {
                width: 80px;
            }

            &.column-method,
            &.column-context,
            &.column-protocol {
                width: 100px;
            }

            &.column-ip {
                min-width: 120px;
            }

            &.column-logged {
                width: 120px;
            }
        }

        td {
            &.column-ip {
                img {
                    margin: 0 5px 0 0;
                    width: 28px;
                    float: left;
                }
            }
        }
    }
}
