.coreactivity-grid-logs {
    tr {
        th {
            &.column-blog_id,
            &.column-log_id {
                width: 80px;
            }

            &.column-method,
            &.column-context,
            &.column-protocol {
                width: 100px;
            }

            &.column-user_id,
            &.column-component,
            &.column-event {
                width: 240px;
            }

            &.column-ip {
                width: 220px;
            }

            &.column-object_type,
            &.column-logged {
                width: 120px;
            }
        }

        td {
            &.column-ip {
                img {
                    margin: 0 5px 0 0;
                    width: 28px;
                }
            }

            &.column-request {
                word-break: break-all;
            }

            &.column-user_id {
                i {
                    color: #AAA;
                }
            }
        }
    }
}

.coreactivity-field-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    i {
        font-size: 1.5em;
    }

    span {
        flex-grow: 1;
        word-break: break-all;
    }
}

.d4p-wrap.d4p-plugin-coreactivity.d4p-panel-logs {
    .coreactivity-header-ip {
        display: flex;
        align-items: center;
        gap: .75em;
        font-size: 1.1em;
        padding: 0.6em 0.9em;
        border-radius: var(--d4p-layout-main-border-radius);
        border: 1px solid var(--d4p-color-main-border);
        background-color: var(--d4p-color-main-background);

        span {
            font-family: monospace;
        }

        i {
            color: var(--d4p-color-layout-accent);
            font-size: 1.5em;
        }
    }

    ul.subsubsub {
        .view {
            font-weight: bold;

            &.ip {
                img {
                    width: 23px;
                    height: auto;
                    vertical-align: bottom;
                }
            }

            &.user {
                img {
                    width: 18px;
                    height: auto;
                    vertical-align: bottom;
                }
            }
        }
    }
}
