.coreactivity-badge {
    padding: 2px 12px 5px;
    font-size: 1.1em;
    color: #FFF;
    border-radius: 4px;

    i {
        color: #FFF !important;
        margin-right: 5px;
        vertical-align: top;
        margin-top: 8px;
    }

    &.__badge-green {
        background-color: #090;
    }

    &.__badge-red {
        background-color: #900;
    }
}

.coreactivity-activation-control,
.coreactivity-database-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;

    i {
        flex-shrink: 0;
        color: var(--d4p-color-layout-accent);
    }

    > div {
        flex-grow: 1;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        font-size: 1.1em;
        align-content: flex-start;

        .__element {
            strong {
                color: var(--d4p-color-layout-accent);
                font-size: 1.3em;
            }

            &.__full-width {
                flex: 1 1 100%;
            }
        }

        @media screen and (max-width: 959px) {
            font-size: 1em;
        }

        @media screen and (max-width: 767px) {
            font-size: .9em;
        }
    }
}

.coreactivity-activation-control {
    .__full-width {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
}

.coreactivity-overall-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;

    > div {
        flex: 1 1 50%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;

        h4 {
            color: var(--d4p-color-layout-accent);
            margin: 0 0 5px !important;
            font-size: 1.3em !important;
        }

        i {
            color: var(--d4p-color-layout-accent);
        }

        div {
            flex-shrink: 0;
        }

        .__available {
            font-size: 1.4em;
        }
    }

    @media screen and (max-width: 959px) {
        flex-direction: column;
    }
}

.coreactivity-overall-sep {
    margin: 1.25em 0 !important;
    border-top: 2px solid var(--d4p-color-layout-accent) !important;
}

.coreactivity-overall-components {
    display: flex;
    flex-direction: column;
    gap: .5em;

    .coreactivity-component {
        display: flex;
        gap: .5em;

        .__label {
            padding: 5px 10px;
            line-height: 24px;
            height: 35px;
            color: #FFF;
            background: var(--d4p-color-layout-accent);

            a {
                display: block;
                vertical-align: top;

                i {
                    display: inline-block;
                    color: #FFF;
                    vertical-align: top;
                }
            }
        }

        .__bar {
            flex-grow: 1;
            background: #F4F4F4;
            position: relative;
            overflow: hidden;

            .__component {
                position: absolute;
                line-height: 35px;
                padding: 0 10px;

                word-break: keep-all;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .__inner {
                height: 100%;
                background: #DDD;
            }
        }

        .__count {
            width: 8%;
            min-width: 120px;
            background: #DDD;
            text-align: right;
            font-weight: bold;
            padding: 5px 10px;
        }

        @media screen and (max-width: 767px) {
            .__label {
                min-width: 32px;
                text-align: center;

                i {
                    margin-right: 0;
                }

                span {
                    display: none;
                }
            }

            .__count {
                min-width: 80px;
            }
        }

        @media screen and (max-width: 480px) {
            .__bar {
                .__component {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

.coreactivity-about-counters {
    font-size: 1.4em;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--d4p-color-layout-accent);
    margin: 1em 0 0;
    padding: 1em 0 0;
    font-weight: 100;

    i {
        font-size: 1.4em;
        color: var(--d4p-color-layout-accent);
    }

    strong {
        font-size: 1.4em;
        font-weight: 900;
        color: var(--d4p-color-layout-accent);
    }
}